* {                        /* Reset de estilos */       
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', sans-serif;
    background: linear-gradient(315deg, cyan, blue);
    height: 100vh;
}

main {
    margin: 0 auto;             /* Centrado horizontal del contendor  */
    width: 500px;

    display: flex;              /* Centra los componentes */
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.contador h1, .contador h2 {    /* Titulos centrados */
    padding: 10px;
}

h1 {                            /* Titulo principal */
    color: white;
    font-size: 30px;    
    padding: 10px;
}

.contador {                     /* Hacemos la caja del contador */
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px gray;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.valor {                        /* destacamos el valor del contador */
    color: blue;
    font-size: 64px;
}

.botones {                    /* Hacemos la caja de los botones */      
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin: 10px;
}

.botones button {                    /* Estilo de los botones */
    border: 1px solid transparent;
    box-shadow: 0px 0px 3px 0px gray;
    
    background-color: lightblue;
    border-radius: 10px;

    font-size: 50px;
    width: 80px;
}