* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

main {
    width: 500px;
    margin: 0 auto;
    border-radius: 20px;
    background-color: #f0f0f0;
    padding: 5px;
}

button {
    margin-left: 5px;
    border: 1px solid green;
    border-radius: 20px;
    background: white;
    cursor: pointer;
    padding: 0 12px;
    position: relative;
    top: 5px;
    right: 0;
}

button:hover {
    background-color: lightgreen;
}


.recorrer {
    position: relative;
    top: 5px;
    right: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.recorrer span {
    padding-top: 8px;
    padding-right: 10px;
}