
.semaforo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    background-color: #ccc;
    padding: 10px;
    width: 120px;
    border-radius: 60px;

}

.esquina {
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 30px;    
}