* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    margin: 0 auto;
    max-width: 300px;
    background-color: aquamarine;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

h1 {
    text-align: center;
    font-size: 30px;
    color: #222;
    padding: 10px;
    background-color: rgb(198, 85, 85);
    color: white

}