form {
    width: 280px;
    padding: 10px;
    display: flex;
    gap: 10px;
    margin: 5px;
}
form input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
}

form button {
    width: 80px;
    background-color: rgb(198, 85, 85);
    border: 1px solid transparent;
    color: white;
    border-radius: 5px;
}
